.toggleBtn{
    z-index: 999;
    position: absolute;
    bottom: 4%;
    left: 2%;
    cursor: pointer;
    display: none;
}
    
.toggleBtn:active{
    color: #0800ff;
    transform: scale(0.9);
}

@media screen and (max-width: 768px) {
  .toggleBtn{
    display: block;
    background-color: lightcyan;
    color: #050424;
    padding: 2px 12px;
    border-radius: 4px;
  }
}

@media screen and (max-width: 425px) {
    .asideMain{
        padding: 4px;
    }
    .asideLogo{
        margin-top: 12px;
        height: 50px;
    }
    .asideImg{
        width: 65px;
    }
    /* #links{
        display: none;
    } */
    #asideIcons{
        font-size: 18px;
        /* margin-left: 10px; */
    }
    #sIcon{
        font-size: 18px;
        /* margin-left: 10px; */
    }
}