.card{
    border-radius: 10px;
    transition: .3s linear;
}
.card:hover{
    background-color: #F1137B;
}
.card:hover i{
    color: #ffffff;
}
.card:hover .client{
    color: #ffffff;
}
.card:hover .heading{
    color: #ffffff;
}