/* Dashboard */

.backCover {
  padding: 40px 0;
  min-height: 100%;
  background-color: #0a121e;
  background-image: url("https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?size=626&ext=jpg&ga=GA1.1.1572214017.1676789510&semt=sph");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.dash-wrapper {
  margin: 0 2%;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.filterBox {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .innerInput {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;

    & input {
      width: 100%;
      font-size: 14px;
      margin-right: 70px;
      border-radius: 8px;
      padding: 12px 85px 12px 8px;
      color: #eeeeeed2;
      background-color: #eeeeee18;
      border: 1px solid #00000020;
    }
    & :focus {
      outline: none;
      font-size: 14px;
      border: 1px solid #eeeeee48;
    }
    & button {
      background-color: #eeeeee46;
      padding: 5px 12px;
      color: #eee;
      border-radius: 8px;
      position: absolute;
      top: 50%;
      left: 65%;
      transform: translate(-50%, -50%);
    }
    & :hover {
      opacity: 0.9;
    }
  }
}
.dash-wrapper .mainTitle {
  color: #eeeeeed2;
  padding: 0 2%;
  font-size: clamp(1.25rem, 0.9714rem + 1.3714vw, 2rem);
  font-weight: 600;
  margin: 14px 12px;
}
.dash-wrapper .mainTitle span {
  color: #e47819;
  font-weight: bold;
}

.cate-buttons {
  gap: 10px;
  margin: 1% 0;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  & button {
    padding: 6px;
    flex-grow: 1;
    font-size: 15px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    color: #eeeeeea2;
    background-color: #eeeeee18;
  }
  & :hover {
    background-color: #eeeeee6c;
    color: #eee;
  }
}

.dasboard-Main {
  height: 100%;
  padding: 1% 2%;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}
.das-col {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 12px;
  border: 1px solid #eeeeee18;
  position: relative;
  transition: 0.3s linear;
}
.das-col:hover {
  border: 1px solid #eeeeee46;
}
.das-col .das-sub-col .dasImgMain {
  height: 180px;
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
}
.das-col .das-sub-col .das-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.das-col .das-info .title {
  font-size: 20px;
  font-weight: 600;
  max-width: 30vw;
  line-height: 1.4;
  margin-bottom: 4px;
  color: #eeeeeed2;
  padding: 4px 0;
}
/* .das-col .action {
  margin-right: 18px;
} */
.das-col .action i {
  color: #00000080;
  margin: 8px;
}
.das-col .action i:nth-child(1) {
  color: #333;
}
.das-col .action i:nth-child(2) {
  color: blue;
}
.das-col .action i:nth-child(3) {
  color: red;
}
.das-col .action i:hover {
  opacity: 0.8;
  cursor: pointer;
}




@media screen and (max-width: 1024px) {
  .filterBox{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee2f;
  }
  .dasboard-Main {
    grid-template-columns: 1fr 1fr;
  }
}


@media screen and (max-width: 768px) {
  .filterBox{
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eeeeee2f;
  }
  .dasboard-Main {
    grid-template-columns: 1fr 1fr;
  }
}


@media screen and (max-width: 425px) {
  .filterBox{
    padding: 0 10px;
    padding-bottom: 10px;
  }
  .dasboard-Main {
    grid-template-columns: 1fr;
  }
}

/* Dashboard */
