@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.glbalBtn {
  border: 1px solid orangered;
  padding: 4px 18px;
}

/* hide the button of input  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* hide the button of input  */
/* cta imported buton -------------- */
.btn {
  position: relative;
  text-decoration: none;
  /* padding: 8px 24px; */
  display: inline-block;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  color: #ffffff;
  background-color: #e77918;
  z-index: 99;
}
.serviceBtn {
  margin: 10px 0 0 0;
  padding: 8px 18px;
  font-size: 13px;
}
.serviceBtn:active {
  transform: scale(0.9);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn::after {
  background-color: #e77918;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/* Media queries of HERO SECTION HERO PAGE ----------------------------- */
@media screen and (max-width: 1024px) {
  .heroMain {
    flex-direction: column;
    margin-bottom: 20px;
    padding: 0 4%;

    & h1 {
      padding: 20px 0;
      font-size: 40px;
      max-width: 100%;
    }
    & p {
      max-width: 70%;
    }
  }
}
@media screen and (max-width: 768px) {
  .heroMain {
    padding: 0 6%;

    & p {
      max-width: 80%;
    }
  }
}
@media screen and (max-width: 425px) {
  .heroMain {
    gap: 30px;

    & h1 {
      font-size: 26px;
    }
    & p {
      font-size: 14px;
    }
  }
}
/* Media queries of HERO SECTION  ----------------------------- */
/* Navbar active class  */
.active {
  font-weight: 500;
}

/* Animaiton  */

.animateElm {
  animation: myAnim 5s linear both infinite;
}

@keyframes myAnim {
  0% {
    opacity: 0.5;
    transform: translateX(-50px);
  }

  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0.5;
    transform: translateX(-50px);
  }
}

@media screen and (max-width: 425px) {
  #heroImg {
    bottom: -20px;
  }
  .hero-svg-2 {
    top: 28%;
    left: 80%;
    transform: rotate(300deg);
    height: 90px;
    animation: none;
  }
  .hero-svg-1 {
    display: none;
  }
}

/* Hero image  -----------------*/
.Hero-img-shape {
  box-shadow: 0px 0px 350px 12px rgba(20, 75, 184, 1);
}

/* framer motion  -------------*/
.slide-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform-origin: left;
  background: #131a29;
  overflow: hidden;
  z-index: 9999999999999999999999;
}

/* Enquiry */

.enquiry_eye {
  visibility: hidden;
}
.enquiryCard:hover .enquiry_eye {
  visibility: visible;
}
