/* Navbar  */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #010021;
  padding: 14px 6%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-left .logo img {
  width: 140px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  position: relative;
  left: 5%;
}

.nav-links li {
  cursor: pointer;
}

.nav-links li a {
  color: #666;
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}
.nav-links li a:hover {
  color: #e77918;
}

.nav-links .mobileResBtn {
  display: none;
}

.menu-icon {
  flex-direction: column;
  cursor: pointer;
  z-index: 15;
}

.apllyBtn {
  border: none;
  padding: 8px 20px;
  background-color: #e77918;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  border-radius: 3px;
}
.apllyBtn:hover {
  background-color: #fa7909;
}

.apllyBtnMobileRes {
  display: none;
  border: none;
  padding: 6px 16px;
  border: 1px solid #e77918;
  color: #fa7909 !important;
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
  border-radius: 50px;
}
.apllyBtnMobileRes:hover {
  color: white !important;
  background-color: #fa7909;
}

.bar {
  display: none;
  width: 25px;
  height: 3px;
  background-color: #eee;
  margin: 3px 0;
  transition: 0.4s;
}

.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 1020px) {
  .nav-links {
    gap: 4px;
  }

  .nav-links li a {
    font-size: 15px;
  }
}

@media (max-width: 910px) {
  .nav-links {
    /* display: none; */
    flex-direction: column;
    text-align: left;
    background-color: #010021;
    position: absolute;
    top: 65px;
    left: -100%;
    width: 50%;
    height: 100vh;
    transition: 0.9s all ease-in-out;
    z-index: 9999999999999999;
  }
  .nav-links:hover {
    color: #fa7909;
  }

  .open .nav-links {
    display: flex;
    left: 0;
    text-align: left;
    padding: 40px 20px;
    line-height: 2;
  }

  .menu-icon {
    display: flex;
  }

  .menu-icon .bar {
    display: block;
  }

  .menu-icon .apllyBtn {
    display: none;
  }

  .mobileResBtn {
    margin: 4px 14px;
    width: max-content;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    color: #e77918;
  }
  .mobileResBtn:hover {
    background-color: #fa7909;
  }

  .slider {
    position: absolute;
    top: 70px;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: #00000059;
    backdrop-filter: blur(4px);
    transition: left 0.3s;
    transition-delay: 0.8s;
    z-index: 10;
  }

  .open .slider {
    left: 0%;
  }
  .applyBtn {
    display: none;
  }
  .topbarParentDiv {
    display: none;
  }
  .apllyBtnMobileRes {
    margin-top: 8px;
    display: inline-block;
  }
}

@media (max-width: 455px) {
  .nav-links {
    flex-direction: column;
    text-align: left;
    background-color: #010021;
    position: absolute;
    top: 60px;
    left: -100%;
    width: 70%;
    height: 100vh;
    transition: 0.9s all ease-in-out;
    z-index: 9999999999999999;
  }
}
